*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    --primary-color: #5E3BEE;
    --heading-color: #282938;
    --bg-shade:#F5FCFF;
    --secondary-color:#E62872;
    --body-color: #1C1E53;
    --white-color:#fff;
    --paragraph-font-size: 14px;
    --ptext-color: rgb(149, 149, 149);
}

.nav-link{
    color: var(--body-color);
    transition: 0.2s all linear;
    &:hover{
        color: var(--primary-color);
    }
}
.nav-link.active{
    color: var(--primary-color) !important;
}
.contact_btn{
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    color: var(--primary-color);
    transition: 0.2s all linear;
    &:hover{
        background-color: var(--primary-color);
        color: var(--white-color);
    }
}


/*=== hero section ===*/
#hero{
    background-color: var(--bg-shade);
}
.hero_title{
    font-size: 50px;
    font-weight: 700;
    color: var(--heading-color);
}
.product_design{
    color: var(--primary-color);
}

.hero_subtile{
    font-size: 12px;
    color: var(--body-color);
}
.hero_text{
    font-size: var(--paragraph-font-size);
    color: var(--ptext-color);
}

.hero_btn{
    background-color: var(--primary-color);
    color: var(--white-color);
    transition: 0.2s all linear;
    &:hover{
        background-color: transparent;
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
    }
}


/*=== expertise section ===*/
.section_title{
    color: var(--heading-color);
    font-size: 50px;
    font-weight: 700;
}

.section_subtitle{
    color: var(--body-color);
    font-size: var(--paragraph-font-size);
}


.card_icon {
    width: 55px;
    height: 55px;
    background: white;
    padding: 9px;
    border-radius: 5px;
}

.card.ex_card {
    border: none;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s all linear;
    &:hover{
        box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
    }
}

.card_content>.card-title {
    font-size: 20px;
    line-height: 35px;
    color: var(--body-color);
}

.card_content>.card-text {
    font-size: var(--paragraph-font-size);
    color: gray;
}

.ex_card{
    background: var(--bg-shade);
    padding:10px;
}
.card.ex_card:before {
    content: "";
    position: absolute;
    background: var(--primary-color);
    width: 0px;
    height: 3px;
    bottom: 0;
    transition: 0.2s all linear;
}

.card.ex_card:hover:before {
    width: 100%;
}